<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>¿QUE ES EL SEXTING ?</title>
</head>
<body>
    <h1>¿Que es el Sexting?</h1>
    <p>El sexting es el envío de mensajes, fotos o videos con contenido sexual o sugerente a través de dispositivos electrónicos, como teléfonos móviles , computadoras y
        redes sociales el nombre viene de la combinacion de la palabra sex (sexo) y la palabra texting (mensajeria)
    </p>
    <img src="{{ url_for('static', filename='sexting.jpg') }}" alt="imagen xd">
    <button onclick="location.href='/index03'">Siguiente pag</button>


</body>
</html>