<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>CAUSAS </title>
</head>
<body>
    <h1>CAUSAS</h1>
    <p>
        Existen diversas razones por las que las personas se sienten atraídas a realizar sexting como:
    </p>
    <br>
    <p1>Exploración sexual: </p1>
    <br>
    <h4>Algunas personas lo usan para explorar su sexualidad de forma segura sin necesidad de encuentros físicos.</h4>
    <br>
    <p1>Presión social</p1>
    <br>
    <h4>En ocasiones, se realiza por la presión de pareja o amigos, donde la persona siente la necesidad de cumplir con ciertas expectativas.</h4>
    <br>
    <p1>Falta de privacidad:</p1>
    <br>
    <h4>La comunicación digital ofrece anonimato, lo que hace que muchos sientan que es menos riesgoso que interactuar cara a cara.</h4>

    <img src="{{ url_for('static', filename='SEXTING2.png') }}" alt="imagen xd">
    <button onclick='location.href="/index04"'>Siguiente pag</button>


</body>
</html>