<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Riesgos y consecuencias del sexting </title>
</head>
<body>
    <h1>Riesgos y consecuencias del sexting</h1>
    <p>
        El sexting también conlleva una serie de riesgos y consecuencias, tanto emocionales como legales:
    </p>
    <br>
    <p1>Riesgos emocionales: </p1>
    <br>
    <h4>La exposición de imágenes íntimas puede causar vergüenza, ansiedad o arrepentimiento, especialmente si se distribuyen sin consentimiento.
    </h4>
    <br>
    <p1>Riesgos legales</p1>
    <br>
    <h4>El intercambio de material explícito puede violar leyes de privacidad y protección infantil, especialmente si involucra a menores de edad..</h4>
    <br>
    <p1>Reputación digital:</p1>
    <br>
    <h4>Las imágenes compartidas pueden ser utilizadas para manipulación o acoso, afectando la reputación de la persona en su entorno social y profesional.</h4>


    <img src="{{ url_for('static', filename='images01.jpg') }}" alt="imagen xd">
    <button onclick="location.href='/index05'">Siguiente pag</button>




</body>
</html>