<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Prevención y educación </title>
</head>
<body>
    <h1>Prevención y educación</h1>
    <p>
        Es fundamental que se eduque a los jóvenes y a la sociedad en general sobre el sexting y sus consecuencias. Algunas estrategias incluyen:
    </p>
    <br>
    <p1>Educación sexual: </p1>
    <br>
    <h4>Ofrecer educación sobre sexualidad responsable y respetuosa, incluyendo el concepto de consentimiento y el respeto a la privacidad.
    </h4>
    <br>
    <p1>Uso responsable de la tecnología:</p1>
    <br>
    <h4>Enseñar el uso adecuado y seguro de las plataformas digitales, haciendo énfasis en la importancia de proteger la privacidad y los datos personales.</h4>
    <br>
    <p1>Límites personales</p1>
    <br>
    <h4>Fomentar la capacidad de poner límites claros en las relaciones y de respetar los límites de los demás, tanto en el ámbito digital como en el físico.</h4>


    <img src="{{ url_for('static', filename='image.png') }}" alt="imagen xd">
    <button onclick="location.href='/index06'">Siguiente pag</button>
